<hr>

<section id="content">
    <div id="title">
        <h5 class="display-5 mb-5">Listas</h5>
    </div>
    
    <div id="links">
        <a href="{{URL}}/listas/vai_volta" id="card">
            <img src="./src/img/home/vai_volta.svg" alt="icon">
            <h6><br>Vai e Volta</h6>
        </a>
        
        <a href="{{URL}}/listas/saida" id="card">
            <img src="./src/img/home/saida.svg" alt="icon">
            <h6><br>Saída</h6>
        </a>
        
        <a href="{{URL}}/listas/pernoite" id="card">
            <img src="./src/img/home/pernoite.svg" alt="icon">
            <h6><br>Pernoite</h6>
        </a>
    </div>
</section>

<hr>

<section id="about" class="my-5">
    <div id="title" class="mb-5">
        <h6 class="display-6">Sobre</h6>
    </div>

    <p style="text-align: justify;">
        CGAE - Listas Eletrônicas é um projeto que nasceu a partir das observações de alunos quanto aos problemas existentes na instituição. Após devida análise estrutural do instituto, percebeu-se uma possível melhoria no sistema de controle de saída dos alunos residentes, o qual ainda era realizado através de cadernos de papel.
    </p>

    <p style="text-align: justify;">
        Motivados por uma proposta do professor Arthur Faria Porto para a construção de um site, como parte das exigencias da disciplina de Desenvolvimento Web do curso técnico em informática integrado ao ensino médio, um grupo de estudantes resolveu levar o projeto a um novo patamar e trazê-lo ao ambiente do campus, promovendo uma melhoria de qualidade de vida aos estudantes residentes.
    </p>

    <p style="text-align: justify;">
        Toda a construção do sistema foi devidamente acompanhada pelo professor Arthur, pelo diretor geral do internato, Alisson Fabiano da Cunha, e pelos assistentes noturnos e diurnos, sendo coordenado majoritariamente pelo estudante Henrique Cardoso de Souza e auxiliado pelos seus colegas: Bernardo Rafael Sales Saraiva, Ígor Gabriel Sena Matos, Jackson Darley Rocha Santos e João Marcos Martins Xavier.
    </p>
</section>

<style>
    #card
    {
        border: 1px solid white;
        border-radius: 15px;
        min-width: 200px;
        max-width: 200px;
        padding: 20px;
        margin: 20px;
        text-align: center;
        display: inline-block;
        text-decoration: none;
        color: white;
        transition: 0.5s;
    }

    #card:hover
    {
        background-color: rgb(77, 77, 77);
    }

    #card img
    {
        width: 70%;
        padding: 10px;
    }

    #links
    {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    @media (max-width: 768px) {
        #links
        {
            overflow-x: scroll;
            justify-content: inherit;
        }
    }
</style>
