<header>
    <a href="{{URL}}/" class="mt-3">
        <h1 class="display-5">CGAE</h1>
        <h1 class="h5">Listas Eletrônicas</h1>
    </a>
</header>
    
<hr>

<style>
    *
    {
        user-select: none;
    }

    header
    {
        display: flex;
    }

    header a
    {
        text-decoration: none;
        color: white;
    }

    #error
    {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 65vh;
    }

    #content
    {
        text-align: center;
    }

    img
    {
        width: 100px;
        filter: invert();
        margin-bottom: 20px;
    }
</style>